* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Hurricane', cursive;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider {
  border-radius: 1rem;
  width: 40rem;
  height: 20rem;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
}

.next-photo {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.previous-photo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.menu {
  display: flex;
  justify-content: space-evenly;
  color: white;
  z-index: 1;
}

.arrow {
  font-size: 1.2rem;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
}

.clickable {
  cursor: pointer;
}

.custom-menu {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-custom {
  padding: 0.5rem 2rem;
  font-size: 0.95rem;
  border: none;
  color: white;
  background: #0066ff;
  border-radius: 0.3rem;
}

.reveal-menu {
  background-color: white;
}

form {
  position: relative;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.3rem 0.4rem;
}

.margin-1 {
  margin: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.apply-btn {
  margin-left: 1rem;
  padding: 0.5rem 2rem;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #0066ff;
  border-radius: 0.3rem;
  transition: 0.5s all;
}

.accept-btn {
  background-color: rgb(20, 219, 67);
}

.reveal-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  transition: 1s all;
}

.hide {
  transform: translateY(100%);
}

.img-btn {
  padding: 0.5rem 2rem;
  font-size: 0.95rem;
  border: none;
  color: white;
  background: #0066ff;
  border-radius: 0.3rem;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.445);
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: 0.5s all;
}

.modal {
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  z-index: 5;
}

.modal > header {
  width: 100%;
  min-height: 10%;
  background-color: aquamarine;
}

.modal > .content {
  flex-basis: 3;
  width: 100%;
  min-height: 80%;
  background-color: antiquewhite;
}

.modal > footer {
  flex-basis: 1;
  width: 100%;
  min-height: 10%;
  background-color: #0066ff;
}

.show {
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container {
  width: 100%;
  background-color: rgb(248, 248, 248);
  min-height: 3rem;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
}

.item-image {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.item-delete {
  transition: 0.2s all;
}

.item-delete:hover {
  scale: 1.1;
}

li {
  list-style: none;
}
